= form_for @currency, html: { class: "form form-horizontal currency" } do |f|
  - if @currency.errors.any?
    #error_explanation
      %h2
        = pluralize(@currency.errors.count, "error")
        prohibited this currency from being saved:
      %ul
        - @currency.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :id, class: 'form-control', required: true
  .form-group
    = f.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, class: 'form-control', required: true
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), currencies_path, :class => 'btn btn-default'
