- model_class = Forecast
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

= link_to "Create new forecast", new_forecast_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:base_currency)
      %th= model_class.human_attribute_name(:target_currency)
      %th= model_class.human_attribute_name(:amount)
      %th= model_class.human_attribute_name(:start_date)
      %th= model_class.human_attribute_name(:end_date)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @forecasts.each do |forecast|
      %tr
        %td= link_to forecast.id, edit_forecast_path(forecast)
        %td= forecast.base_curr_name
        %td= forecast.target_curr_name
        %td= forecast.base_amount
        %td= forecast.created_at.to_date
        %td= forecast.last_date
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_forecast_path(forecast), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), forecast_path(forecast), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
